#header {
    float: left; 
    margin: 20px 10px;
}

#newPost {
    float: left;
    margin: 20px 5px;
    font-size: 15px;
    border-width: 2px;
    padding: 0px;
    height: 30px;
    width: 95px;
}

#logout {
    float: right;
    margin: 20px 10px;
    font-size: 15px;
    border-width: 2px;
    padding: 0px;
    height: 30px;
    width: 95px;
}

#about {
    clear: both;
    float: left;
    margin-left: 10px;
    text-align: left;
}