#frame {
    margin: 10px 10px;
    border: solid 1px;
}

#title {
    margin: 10px 20px;
    font-size: 25px;
    float: left;
}

#createDateTime {
    margin: 15px 20px;
    font-size: 12px;
    float: right;
}

#content {
    margin: 10px 20px;
    clear: both;
    float: left;
    white-space: pre-line;
    text-align: left;
}