.editTitle {
    height: 30px;
    width: 380px;
    padding: 5px;
    font-size: 18px;
}

.editContent {
    resize: none;
    height: 350px;
    width: 380px;
    padding: 5px;
}

.editButton {
    width: 130px;
    height: 30px;
    padding: 0px;
    font-size: 15px;
}

.backButton {
    width: 70px;
    height: 30px;
    padding: 0px;
    font-size: 15px;
}