.label {
    margin-right: 5px;
}

.inputLogin {
    width: 210px;
    height: 28px;
    padding: 5px;
    font-size: 16px;
}

#buttonDiv {
    margin-top: 20px;
    margin-bottom: 20px;
}

#loginButton {
    width: 100px;
    height: 30px;
    padding: 0px;
    font-size: 15px;
}

#registerButton {
    width: 170px;
    height: 30px;
    padding: 0px;
    font-size: 15px;
}